.containerFilm {
    width: 20%;
    height: auto;
    box-sizing: border-box;
    margin: 20px 0;
    color: var(--color);
}

.containerFilm:hover {
    background-color: blueviolet;
    color: white;
}

.name {
    width: auto;
    height: 50px;
    font-weight: 600;

}

.img {
    width: 90%;
    border-radius: 20px;
}

.title {
    width: 90%;
    font-size: 10px;
    height: 30px;
    overflow: hidden;
}
