.App {
  text-align: center;
  width: 70%;
  margin: 100px 15%;
  left: -15%;
  border: 1px solid black;
  border-radius: 50px;
  background-image: radial-gradient(circle, #d7dad4, #cfd7d1, #c6d3d0, #bed0d0, #b8cbd1, #b5c8d4, #b4c5d7, #b7c1d8, #babfdd, #c0bce0, #c9b9e1, #d3b5e0);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.block {
  height: auto;
  background-color: var(--background-color);
}

